/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.yoyo/

# Laravel - Cache y temporales (Lo que te estaba fallando)
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Mantener las carpetas pero ignorar archivos (Opcional pero recomendado)
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# Tu regla personalizada para el storage público
/storage/app/public/*
!/storage/app/public/.gitignore

/storage
INSTALL_PDF_GUIDE.md
